<body>
    <app-navbar></app-navbar>
    <div class="text-center row">
      <div *ngFor="let sucursal of sucursal" class="card me-3 mb-3"  style="width: 18rem;" >
        <div class="card-body">
          <h4 class="card-title">{{sucursal.name}}</h4>
          <p class="card-text">{{sucursal.direccion}}</p>
          <button (click)="DeleteSucu(sucursal._id)"  class="btn btn-danger mb-2"  >Eliminar sucursal</button>
          <button (click)="getSucu(sucursal._id)" class="btn btn-warning mb-2" data-bs-toggle="modal" data-bs-target="#updateModal">Editar sucursal</button>
          <button class="btn btn-primary mb-2" routerLink="/productosSucu">Visualisar productos</button>
          <button class="btn btn-info">Grafica</button>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar sucursal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input [(ngModel)]="sucursalM.name" name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input [(ngModel)]="sucursalM.direccion" name="direccion" type="text" class="form-control" id="direccion">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button (click)="saveSucursal()" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Actualizar sucursales</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form *ngIf="sucursal"  >
              <div class="mb-3">
                <label for="update.name" class="form-label">Name</label>
                <input [(ngModel)]="this.sucursalUpdate.name" name="name" type="text" class="form-control" id="update.name" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input [(ngModel)]="this.sucursalUpdate.direccion" name="direccion" type="text" class="form-control" id="direccion">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button (click)="UpdateSucu()"  data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
