<body>
    <app-navbar></app-navbar>
    <div>
        <section id="home">
            <!-----Titulo-->
            <div class="Titulos">
                <span></span>
                <h3>Bienvenidos</h3>
            </div>
            <!---Contenedores de Blog-->
            <div class="contenedores">
                <!--Caja Uno-->
                <div class="CajaDeInfo">
                    <!--Imagen de Apartado-->
                    <div class="ImagenInfo">
                        
                    </div>
                    <!--Texto-->
                    <div class="textInfo">
                        
                        <a href="#" class="TituloInfo">Integrantes y su Participación</a>
                        <p>Ihan Gilberto Alexander Marroquin Sequen 2017441 - Programación Back <br>
                            Erick Fernando Yac Andrade 2017210 - función de agregar, eliminar, editar, vista de los
                            productos de empresa, de sucursales y vista de sucursales <br>
                            Diego Fernando Solís López 2018306 - Diseño,css y home <br> 
                            Jose Daniel López Marroquín 2017485 - Función de agregar productos, eliminarlos, editarlo y
                            mandarlo a sucursales <br> 
                            Keneth Abraham Velásquez Batz 2016188 - Función de más vendidos, más stock, vender productos
                            y grafica</p>
                        
                    </div>
                </div>
            </div>
            <!---Contenedores de Blog2-->
            <div class="contenedores">
                <!--Caja Uno-->
                <div class="CajaDeInfo">
                    <!--Imagen de Apartado-->
                    <div class="ImagenInfo">
                        
                    </div>
                    <!--Texto-->
                    <div class="textInfo">
                        
                        <a href="#" class="TituloInfo">¿Qué es el proyecto Sucursales?</a>
                        <p>El Proyecto Sucursales esta hecho para aquellas empresas que tienen una o más sucursales y buscan poder llevar un control de productos de dichas sucursales</p>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>